In [1]:
#Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd

# Creating a Pandas Series
data = [4, 8, 15, 16, 23, 42]
my_series = pd.Series(data)

# Printing the Series
print(my_series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [3]:
# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [4]:
import pandas as pd

# Creating a list with 10 elements
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Converting the list to a Pandas Series
my_series_from_list = pd.Series(my_list)

# Printing the Series
print(my_series_from_list)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [5]:
# Q3. Create a Pandas DataFrame

In [6]:
import pandas as pd

# Creating a dictionary with data
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

# Creating a Pandas DataFrame
my_dataframe = pd.DataFrame(data)

# Printing the DataFrame
print(my_dataframe)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [7]:
# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [8]:
# In Pandas, a DataFrame is a two-dimensional, tabular data structure with labeled axes (rows and columns). It is one of the primary data structures used in Pandas and is similar to a spreadsheet or SQL table. DataFrames can hold heterogeneous types of data, and they provide powerful and flexible methods for data manipulation and analysis.
# On the other hand, a Pandas Series is a one-dimensional labeled array. It is similar to a column in a DataFrame or a single column of data in a spreadsheet. A DataFrame is essentially a collection of Series objects, where each Series represents a column in the DataFrame.
# Let's illustrate the difference with an example:

In [9]:
import pandas as pd

# Creating a Pandas Series
my_series = pd.Series([10, 20, 30, 40], name='Numbers')

# Creating a Pandas DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 28],
    'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']
}

my_dataframe = pd.DataFrame(data)

# Printing the Series
print("Pandas Series:")
print(my_series)
print("\n")

# Printing the DataFrame
print("Pandas DataFrame:")
print(my_dataframe)

Pandas Series:
0    10
1    20
2    30
3    40
Name: Numbers, dtype: int64


Pandas DataFrame:
      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
3    David   28        Chicago

In [10]:
# In the example, my_series is a one-dimensional labeled array with an index (0, 1, 2, 3) and values (10, 20, 30, 40). It has a single column labeled 'Numbers'.

# my_dataframe, on the other hand, is a two-dimensional tabular structure with three columns ('Name', 'Age', 'City') and an index (0, 1, 2, 3). It contains heterogeneous data and allows you to represent more complex relationships and structures than a single Series.

Pandas provides a variety of functions to manipulate and analyze data in a DataFrame. Here are some common functions:

head() and tail(): These functions allow you to view the first or last n rows of a DataFrame.

# Display the first 3 rows of the DataFrame
df.head(3)
info(): Provides a concise summary of the DataFrame, including the data types and missing values.

python
Copy code
# Display information about the DataFrame
df.info()
describe(): Generates descriptive statistics of the numerical columns, such as mean, min, max, etc.

python
Copy code
# Display summary statistics of the DataFrame
df.describe()
value_counts(): Counts the occurrences of unique values in a column.

# Count the occurrences of each value in the 'City' column
df['City'].value_counts()
sort_values(): Sorts the DataFrame by specified columns.

# Sort the DataFrame by the 'Age' column in descending order
df.sort_values(by='Age', ascending=False)
groupby(): Groups the DataFrame by one or more columns, allowing for aggregation operations.

# Group the DataFrame by the 'City' column and calculate the mean age in each city
df.groupby('City')['Age'].mean()
drop(): Removes specified rows or columns from the DataFrame.

# Drop the 'City' column from the DataFrame
df.drop(columns='City')
fillna(): Fills missing values in the DataFrame with a specified value or a calculated value.

# Fill missing values in the 'Age' column with the mean age
df['Age'].fillna(df['Age'].mean(), inplace=True)
apply(): Applies a function along a specific axis of the DataFrame.

# Square each element in the 'Age' column
df['Age'] = df['Age'].apply(lambda x: x**2)

In [11]:
# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In Pandas, Series and DataFrame are mutable, while Panel is considered immutable.

1. **Series:** A Pandas Series is mutable. You can modify its values, index, and other properties after it has been created.

2. **DataFrame:** Similarly, a Pandas DataFrame is mutable. You can add or remove columns, modify data, and perform various manipulations on the DataFrame.

3. **Panel:** The Panel data structure used to be part of Pandas for handling three-dimensional data. However, it has been deprecated, and its functionality has been incorporated into other data structures like MultiIndex DataFrames. Panels are considered less essential in recent versions of Pandas, and you may not encounter them frequently. If you're dealing with three-dimensional data, you would typically use a MultiIndex DataFrame.

In summary, Series and DataFrame are mutable, but Panel has been deprecated, and its functionalities are now handled by other data structures like MultiIndex DataFrames.

In [12]:
# Q7. Create a DataFrame using multiple Series. Explain with an example.

In [13]:
import pandas as pd

# Creating Pandas Series
names = pd.Series(['Alice', 'Bob', 'Charlie', 'David'], name='Name')
ages = pd.Series([25, 30, 35, 28], name='Age')
cities = pd.Series(['New York', 'San Francisco', 'Los Angeles', 'Chicago'], name='City')

# Combining Series into a DataFrame
my_dataframe = pd.DataFrame({'Name': names, 'Age': ages, 'City': cities})

# Printing the DataFrame
print(my_dataframe)

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
3    David   28        Chicago