Que 1. How can we store a single quote (‘) as a string in a variable?

Ans. To store a single quote character (') as a string in a variable, you can use double quotes (") to define the string literal.

In [1]:
s = " ' Single ' "
print(s)

 ' Single '

Que 2. Refer the below variable:
x = ‘a'
Here, is x a character type or string type var1able? Support your answer with an explanation.

Ans. The variable x is a string type variable in Python. In Python, strings can be defined using either single quotes (') or double quotes ("). In this case, the variable x is assigned the value 'a', which is enclosed within single quotes.

Que 3. Apply the following funct1ons on th1s variable: ‘Welcome to Python foundation course'

In [4]:
s = "Welcome to Python foundation Course"
print (s)

Welcome to Python foundation Course

In [6]:
s.find('o')

4

In [9]:
s.count('o')

6

In [10]:
len(s)

35

In [13]:
s = "Welcome to Python foundation Course, "
u = "your name"
concatenate = s + u
print(concatenate)

Welcome to Python foundation Course, your name

Que 4. For the variable: word = ‘PanaJi@1226'

In [17]:
# a) Total number of alphabets in lowercase
word = 'PanaJi@12256'
lowercase_count = 0
for char in word:
    if char.islower():
        lowercase_count += 1
print ('total number of lower case:', lowercase_count)

total number of lower case: 4

In [18]:
# b) Total number of alphabets in uppercase
word = 'PanaJi@12256'
uppercase_count = 0
for char in word:
    if char.isupper():
        uppercase_count += 1
print ("Total number of upper case:", uppercase_count)

Total number of upper case: 2

In [20]:
# c) Total number of numerical in string
word = 'PanaJi12256'
Numerical_count = 0
for int in word:
    if int.isdigit():
        Numerical_count += 1
print ("Total number of Numerical:", Numerical_count)

Total number of Numerical: 5

Que 5. Write a code to store a numerical value inside a variable then convert it into string.

In [21]:
num = 5

In [22]:
num

5

In [23]:
type(num)

int

In [24]:
string = "num"

In [25]:
string

'num'

In [26]:
type(string)

str